@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap');

* {
    font-family: 'Playfair Display';
}

body {
    background-color: salmon;
}

header {
    background-color: darksalmon;
}

div {
    text-align: center;
}

h1 {
    color: darkgreen;
}

h2 {
    color: lightcyan;
}

img {
    width: 90%;
}