@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap');

* {
    font-family: 'Playfair Display';
}

header {
    background-color: #4DF0DB;
}

h1 {
    color: #C0DCD7;
}

h2 {
    color: coral;
}