@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap');

* {
    font-family: 'Playfair Display';
}

body {
    background-color: #5fcf80;
}

header {
    
}

h1 {
    color: darkgreen;
}

h2 {
    color: lightcyan;
}

img {
    width: 90%;
}

.info {
    background-color: darkturquoise;
}

.projects {
    text-align: center;
}